<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Boredom Buddy</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Jokes Buddy!</h1>
    </div>

    <div class="container">
        <button onclick="apply()">I want to learn!</button>
    </div>


    <script>
        function apply() {
            window.location.href = "/main";
        }
    </script>
</body>

</html>